#title {
  font-size: 3rem;
  text-align: center;
}
body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  font-family: "East Sea Dokdo", cursive;
}
a {
  text-decoration: none;
  color: inherit;
}
.bg {
  background: url("./img/guess2.png");
  /* background-size: 100%; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -55% 50%;
}
.container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-img {
  width: 130px;
  height: 130px;
}
.guess-wrapper {
  border: 5px solid black;
  width: 400px;
  height: 400px;
}
.guess-content {
  text-align: center;
  margin-top: 40px;
}
#change-area {
  font-size: 25px;
  font-weight: bold;
  color: red;
}
#result-area {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 20px;
}

.ContentWrapper > img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}
#clock {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
}
#go-button,
#reset-button {
  background-color: #fff;
  font-size: 15px;
  cursor: pointer;
}
